html {
	/*background-color: #C0DEED;*/
}

body {
	font-family: "Gotham Narrow SSm",sans-serif,Arial;
	font-size: 14px;
	line-height: 18px;
	background-image: url('https://abs.twimg.com/images/themes/theme1/bg.png');
	background-repeat: no-repeat;
	background-color: #C0DEED; /*theme color: #0084B4*/
}

a {
	cursor: pointer;
	text-decoration: none;
	color: inherit;
}

#permanent-nav-bar {
	z-index: 1000;
	background: #fff;
	width: 100%;
	min-width: 900px;
	height: 46px;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	border-bottom: 1px solid rgba(0,0,0,0.15);
	text-decoration: none;
}

#left-nav-container {
	max-width: 1190px;
	margin: 0 auto;
	display: flex;
	color: #66757f;
}

	#main-nav-area {
		text-align: left;
		width: 409px;
	}

	/* is this the hover line */

		#main-nav-area ul {
			margin: 0;
			padding: 0;
			list-style-type: none;
			line-height: 46px; /* 46 */
		}

		/*	margin: 0;
			padding: 0;
			list-style-type: none;
			line-height: 70px; /* 70 */


/* this controls the height and width of the line */
			.nav-section {
				font-size: 13px;
				font-weight: 500;
				display: inline;
				padding: 0px 14px 12px 4px;
				height: 42px;
			}

		/*	backup
			.nav-section {
				font-size: 13px;
				font-weight: 500;
				display: inline;
				padding: 0 14px 0 4px;
				height: 42px;
			}*/


			.nav-section.active {
				border-bottom: 4px solid #0084b4;
				color: #0084B4;
			}

			.nav-section:hover {
				border-bottom: 4px solid #0084b4;
				transition: border .15s ease-in-out;
				color: #0084B4;

			}

			.nav-section .icon {
				width: 20px;
				height: 20px;
				vertical-align: middle;
			}

			.nav-section .text {
				margin-left: 3px;
				margin-top: 17px;
			/*	vertical-align: middle;*/
			}

	#logo-area {
		flex: 1;
		text-align: center;
	}
		
		#twitter-logo {
			margin: 0 auto;
			margin-top: 14px;
			width: 24px;
			height: 21px;
		}

	#right-options-area {
		float: right;
		text-align: right;
		width: 386px;
		display: flex;
	}

		#search {
			height: 33px;
			margin: 7px 15px 0 0;
			font-size: 12px;
			width: 221px;
		}

			#search-box {
				box-sizing: border-box;
				width: 100%;
				padding: 5px 27px 6px 12px;
				background-color: #66757f;
				color: #ccd6dd;
				border-radius: 21px;
				font-size: 12px;
				opacity: 0.6;
			}

		#right-options-area ul {
			margin: 0;
			padding: 0;
			list-style-type: none;
			line-height: 46px;
		}

			#right-options-area ul li {
				padding: 0 14px 0 4px;
				display: inline;
				height: 46px;
			}

			#right-options-area img {
				width: 20px;
				height: 20px;
				vertical-align: middle;
				padding: 0 4px 0 0;
			}

			#compose {
				width: 50px;
				height: 50px;
			}

.page-container {
	padding: 56px 14px 15px;
	max-width: 1190px;
	margin: 0 auto;
}

	.content-bar {
		float: left;
		border-radius: 20px;
		display: block;
	}

	.sidebar {
		width: 290px;
	}

	.rounded-header {
		border: 1px solid #e1e8ed;
		border-radius: 6px 6px 0 0;
		padding: 12.5px;
		color: #66757f;
		font-size: 18px;
		font-weight: 300;
		line-height: 22px;
		background-color: white;
	}

		.rounded-header a {
			color: #0084B4;
		}

		.rounded-header #small-links {
			font-size: 12px;
			font-weight: 100;
		}

	.rounded-footer {
		border: 1px solid #e1e8ed;
		border-radius: 0 0 6px 6px;
		padding: 12.5px;
		color: #66757f;
		margin-bottom: 10px;
		background-color: white;
		border-top: 0;
	}

	#profile-cover-photo {
		height: 96px;
		box-sizing: border-box;
		background-image: url('images/05.jpg');
  	background-repeat: no-repeat;
  	background-size: cover;
  	border: 0;
	}

		#profile-pic {
			box-sizing: border-box;
			height: 70px;
			width: 70px;
			background-image: url('images/default_profile_5_bigger.png');
  		background-repeat: no-repeat;
  		background-size: cover;
  		vertical-align: bottom;
  		margin-top: -30px;
  		margin-left: 5px;
  		border-radius: 6px;
  		padding: 3px;
  		border: 3px solid white;
		}

	#profile-info {
		height: 85px;
		border-left: 1px solid #e1e8ed;
		border-right: 1px solid #e1e8ed;
		padding: 9px 12px;
		font-family: "Helvetica Neue",Arial,sans-serif;
		border-bottom: 1px solid #e1e8ed;
		background-color: white;
	}

		#username-box {
			position: relative;
			left: 85px;
			top: -37px;
		}

			#real-name {
				font-weight: 500;
				font-size: 18px;
				line-height: 21px;
			}

			#username a {
				font-size: 12px;
				color: #66757f;
			}

		#info-counters {
			position: relative;
			top: -35px;
			margin-left: 5px;
			padding-top: 5px;
		}

			#info-counters ul{
				box-sizing: border-box;
				display: table;
				margin: 0;
				min-width: 100%;
				padding: 0;
				list-style: none;
			}

			#info-counters li {
				display: table-cell;
				padding: 0;
				vertical-align: bottom;
				color: #0084B4
			}

			.counter-header {
				color: #8c9ca9;
				font-size: 10px;
				letter-spacing: .02em;
				text-transform: uppercase;
			}

			.counter-header:hover {
				color: #0084B4
			}

			.counter-number {
				color: #0084B4;
				font-size: 18px;
				letter-spacing: .02em;
			}

		#compose-tweet {
			background-color: #E5F2F7 ;
		}

			#tweet-input-small {
				width: 255px;
				height: 28px;
				border: 1px solid;
				border-color: #BFE0EC;
				border-radius: 3px;
				font-size: 14px;
				color: #66757f;
				padding-left: 8px;

			}

			#invisible-compose-bits {
				display: none;
			}

			#tweet-icons {
				height: 20px;
				margin-left: 11px;
				margin-top: 15px;
				margin-bottom: 5px;
				vertical-align: center;
			}

			#tweet-button {
				color: white;
				border-radius: 6px;
				margin-top: 10px;
				float: right;
				height: 35px;
				width: 90px;
				background-color: #0084B4;
				opacity: 0.2;
				text-shadow: none;
				box-shadow: none;
			}

		#trends-header {
			border-bottom: 0;
	/*		font-size: 12px;*/
/*			text-decoration: underline;*/
		}

		#trends-body {
			background-color: white;
			padding-left: 15px;
			border-left: 1px solid #e1e8ed;
			border-right: 1px solid #e1e8ed;
			border-radius: 0 0 6px 6px;
			padding-bottom: 10px;
			color: #0084B4;

						

		}

		#trends-body li:hover {
				text-decoration: underline; /* underline when hover */

		}

		#trends-body li/*:hover*/{
			padding-bottom: 2px;
			font-size: 12px;
		/*	text-decoration: underline;*/

		
		}

	/*#tweets {

		margin: 0 10px;

			}*/

	#tweets-column {
		width: 590px;
		margin: 0 5px; /* use this to make it symmetry */
	}

		.tweet-container {
			border-left: 0px solid #e1e8ed;
			border-right: 0px solid #e1e8ed;
			margin-right: 6px;

			min-height: 50px;
			padding: 9px 12px;
			font-family: "Helvetica Neue",Arial,sans-serif;
			border-bottom: 1px solid #e1e8ed;
			background-color: white;
			cursor: pointer;
		}

		.tweet-container:hover {
			background-color: #f5f8fa;
			border-left: 1px solid #e1e8ed;

		}

			.tweet-image {
				margin-right: 10px;
				height: 50px;
				width: 50px;
				border-radius: 5px;
				vertical-align: top;
				float: left;
			}

			.tweet-body {

			}

				.tweet-real-name {
					font-weight: 500;
					font-size: 14px;
				}

				.tweet-username {
					margin-left: 2px;
					font-size: 12px;
					color: #66757f;
				}

				.tweet-furniture {
					color: #66757f;
					font-size: 12px;
					margin-left: 60px;
					margin-top: 8px;
				}

				.tweet-furniture ul {
					text-align: right;
				}

					.expand {
						float: left;
					}

				.tweet-furniture li {
					display: inline;
					margin-right: 6px;
					padding-right: 2px;
				}

				.tweet-furniture a {
					color: #66757f;
					opacity: 0.6;
				}

				.tweet-furniture a:hover {
					opacity: 1;
				}

				.tweet-furniture img {
					text-align: center;
					margin-right: 5px;
					margin-bottom: -3px;
				}

				
/*---WHO TO FOLLOW -------- */

	#who-to-follow-main {
		border-left: 1px solid #e1e8ed;
		border-right: 1px solid #e1e8ed;
		padding: 25px 8px;
		border: 1px solid #e1e8ed;
		border-top: 0;
		background-color: white;
	}

.name {
		font-size: 14px;
		font-weight: 500;
		color: #000000;
		letter-spacing: 0;
	}


	.source, .timestamp {
		font-size: 13px;
		line-height: 18px;
		color: #8999A5;
		font-weight: 200;
		letter-spacing: 0.3px;
	}




/* new -resizing the follow images */
img.follow.follow-suggestions {
		height: 14px;
		margin-right: 0;
	}

.tweet-avatar {
		height: 48px;
		border-radius: 5px;
		float: left;
		margin: 3px 10px 3px 3px;
	}



button.follow {
	border: 1px solid #E1E8ED;
	background-color: #f5f8fa;
	background-image: linear-gradient(#fff,#f5f8fa);
	margin-top: 4px;
	border-radius: 5px;
	font-weight: bold;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	display: block;
}


/* new - controls the follow on the right */


img.follow {
	float: left;
	height: 15px;
	margin-right: 3px;
}


	button.follow:hover {
	background-image: linear-gradient(#fff,#E1E8ED);
}

button.follow:active {
	background-color: #E1E8ED;
	box-shadow: inset 1px 1px 7px #CDD3D8;
}

.follow-suggestions.container {
	float: -100px;
	margin-top: -48px; /* adjusting the london paddington */
	margin-left: -8px; 
	border-radius: opx;
	/*border: solid 1px #E1E8ED;*/
	background-color: #FFFFFF;
	width: 258px; /* number is fine for width */
	height: 175px; /* adjusting the height of who to follow */
	padding: 15px;
	font-size: 12px;
	line-height: 27px;
	font-weight: 200;
	letter-spacing: 0.2px;
	left: 0px;
}

	.follow-suggestions ul {
		margin-top: 10px;
	}

	.follow-suggestions li {
		margin-bottom: 9px;
	}

	.follow-suggestions .tweet-avatar {
		margin: 0px 10px 0 0;
	}




	button.follow-suggestions {
		font-size: 13px;
		width: 86px;
		line-height: 13px;
		padding: 7px 7px 6px 11px;
		margin-top: 3px;
	}

	img.follow.follow-suggestions {
		height: 13px;
		margin-right: 0;
	}
	
	.follow-suggestions.actions {
		background-color: #F5F8FA;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
		border: 1px solid #E1E8ED;
		width: 226px;
		padding: 21px 20px 22px 42px;
		margin-left: -16px;
		margin-top: 15px;
		background-image: url(../img/follow-actions.png);
		background-repeat: no-repeat;
		background-size: 27px;
		background-position: 12px center;
	}


	#follow-links {
		border-top: 0;
		background-color: #f5f8fa;
		font-size: 12px;
		text-align: center;
	}

	#follow-links a {
		color: #0084B4;
	}

	#about-twitter-box {
		margin-top: 10px;
		padding: 15px;
		border: 1px solid #e1e8ed;
		border: 0;
		border-radius: 6px;
		background-color: white;
		color: #8899a6;
		font-size: 12px;
	}

		#about-list li {
			display: inline;
			padding-right: 8px;
		}


@media only screen and (max-width: 1235px) {
	#bar-right {
		display: none;
	/*	margin: 200px;*/
	}

	#left-two-columns {
		width: 923px;
		margin: 0 auto;
	}
}